.header {
   background-color: var(--white);
   z-index: 10;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.header-container {
   max-width: 1200px;
   margin: 0 auto;
   & i {
      font-size: 20px;
   }
}
.header-left {
   max-width: 350px;
   & .left-logo {
      max-width: 100px;
      max-height: 100px;
      display: flex;
      & img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
      & span {
         position: absolute;
         letter-spacing: 5px;
         bottom: 10%;
         transform: translate(-15%, 20%);
      }
   }
}
.header-center {
   max-width: 400px;
   & ul {
      list-style-type: none;
      & li {
         border-radius: 7px;
         cursor: pointer;
         & a {
            color: black;
            text-decoration: none;
         }
      }
   }
}
//
.header-right {
   & .right-message {
      border-radius: 7px;
      cursor: pointer;
   }
   & .right-user {
      width: 50px;
      height: 50px;
      border-radius: 100rem;
      overflow: hidden;
      cursor: pointer;
      &:hover img {
         opacity: 0.7;
      }
      & img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}
.user-chat {
   & .chat-text {
      flex: 1;
   }
}
.img-user {
   min-height: 40px;
   min-width: 40px;
   height: 40px;
   width: 40px;
   border-radius: 100rem;
   overflow: hidden;
   & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}
//class hover
.hover-icon {
   border-radius: 7px;
   &:hover {
      background-color: var(--bgr-light-gray);
      cursor: pointer;
      & i {
         color: var(--dark-orange);
      }
      & span {
         color: var(--dark-orange);
      }
   }
}
.active {
   border-radius: 7px;
   background-color: var(--bgr-light-gray);
   & i {
      color: var(--dark-orange);
   }
   & span {
      color: var(--dark-orange);
   }
}
.active-like {
   & i {
      color: var(--dark-orange);
   }
   & span {
      color: var(--dark-orange);
   }
}