<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="website icon" type="png" href="./images/logo/logo1.png" />
    <title>{{title}}</title>

    <link
      href="./fontawesome-free-6.2.1-web/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="./bootstrap-5.2.3-dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="./sass/css/default.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script
      type="module"
      src="./jquery/jquery-3.6.3.min.js"
    ></script>
    <script
      type="module"
      src="./bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js"
    ></script>
  </head>

  <body>
    {{#if (notAdmin permission)}}
    {{> nav}}
    {{else}}
    {{> admin_nav}}
    {{/if}}
    {{{body}}}
  </body>
  <script src="./js/app.js"></script>
</html>