<div class="modal-delete position-fixed">
  <div
    class="modal-dialog modal-dialog-centered position-fixed"
    id="staticBackdrop"
    data-bs-backdrop="static"
  >
    <div class="modal-dialog">
      <div class="modal-content bg-light px-3 py-2">
        <div class="modal-header header-delete" style="color: black">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Message</h1>
          <button type="button" class="hover-icon px-3 py-1 btn-close-modal">
            <i class="fa-regular fa-circle-xmark"></i>
          </button>
        </div>
        <div class="modal-body">Do you want to delete?</div>
        <div class="modal-footer gap-2">
          <button type="button" class="btn btn-secondary btn-no">No</button>
          <button
            type="button"
            class="btn btn-primary btn-yes delete-post"
          >Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>