<div class="content-trademark d-flex flex-row align-items-center">
    <div class="trademark-logo">
        <img src="./images/logo/logo1.png" alt="" />
    </div>
    <div class="trademark-name d-flex flex-column justify-content-around gap-1">
        <h1>
            <span>BOOKBOOK</span>
        </h1>
        <b> <span> Explore the ideas throughout the world of books</span></b>
    </div>
</div>