   
       <link rel="stylesheet" href="./sass/css/404.css" />
   <div class="base-layout position-relative d-flex justify-content-center w-100 h-100">


            <div class="content w-100 d-flex gap-0 h-auto pb-4 gap-3 d-flex justify-content-center">
                <main>
                    <img class="w-50" src="./images/banned.png">

                    <p class="mt-3">O-o-oh no! <span style="color: red;">You have been banned 😭</span></p>
                    <p class="small">We apologize for this unexpected experience. Please <a
                            href="mailto:stephenitus@gmail.com">contact us</a> for more
                        information. </p>
                    <a mb-5 id="errorLink" href="/">Go Back</a>

                </main>

                </main>


                <footer class="small text-center " style=" position: absolute; bottom: -50px;">
                    <img height="50px" src="./images/logo/logo1.png">
                    <a style="text-decoration: none; color: #000000;" href="/">
                        <span style="font-weight:bold;letter-spacing: 2px;">
                            BOOKBOOK
                        </span>
                    </a>
                    <em>
                        Copyright&copy; Group 22
                    </em>
                    - December 2022
                </footer>
            </div>


        </div>